header {
  text-align: center;
  background-color: rgba(0, 132, 255, 0.83);
  margin-bottom: 20px;
  padding: 7px;
}
a {
  margin: 0 10px;
  color: #333;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.active {
  color: #666;
  text-decoration: underline;
}
