.card{
  display: flex;
  box-sizing: border-box;
  border: solid;
  border-radius: 10px;
  width: 85%;
  margin: 20px auto;
  padding: 15px;
  box-shadow: lightgray 4px 4px 20px;
}
.pic{
  width: 75px;
  height: 75;
}
.content {
  flex: 1; /* Pour que le contenu occupe l'espace restant */
  /* Styles pour le contenu du livre (titre, auteur, etc.) */
}
