<app-header></app-header>
<div class="eden">
  <button (click)="showAddForm = true" class="pearle">Ajouter +</button>
</div>

<app-book [books]="liste"></app-book>

<!-- @if (selectedBook) {
<app-author [authors]="authors"></app-author>
} -->

@if(showAddForm) {
  <app-add-book (createEmitter)="addItem($event)" />
  <button (click)="showAddForm = false" class="button-clik">Fermer l'Ajout</button>
}
@if (selectedBook) {
  <app-edit-book [book]="selectedBook" (editEmitter)="edit($event)" />
  <button (click)="showAddForm = false" class="button-clik">Fermer l'Edition</button>
  }

