form {
  padding: 1rem;
  background: #e5e7eb;
  border-radius: 1rem;
  margin-top: 2rem;
  width: 50%;

}

.grid {
  display: grid;
  grid-template-columns: 6rem 1fr;
  gap: .5rem;
}
.form-title{
  margin-left: 250px;
   font-weight: bold;
 }


